h1 {
  font-size: 4em; }

p {
  margin: 15px 0; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:not(body):not(html) {
  box-sizing: border-box; }

.hero-image {
  height: 600px;
  background-image: url("../img/hero-image.jpeg");
  background-image: url("../img/hero-image.jpeg");
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .hero-image .sugarbean {
    position: absolute;
    height: 100%;
    width: 37%;
    background-color: #50312f;
    opacity: .3; }

.sub-heading {
  min-height: 150px;
  background-color: #e7472e;
  margin: -20px;
  padding: 50px 10px 0 10px; }

.gallery-image, .img-description {
  height: 500px;
  overflow: hidden;
  position: relative; }
  .gallery-image img, .img-description img {
    width: 100%;
    margin-top: -60px; }

.intro-section .img-description {
  width: 30%;
  float: right;
  padding: 30px; }
  @media screen and (max-width: 1100px) {
    .intro-section .img-description {
      width: 100%; } }
.intro-section .gallery-image {
  width: 70%;
  float: left; }
  @media screen and (max-width: 1100px) {
    .intro-section .gallery-image {
      display: none; } }

.details {
  background-color: #ddbc95; }
  .details ul {
    width: 33%;
    float: left;
    margin: 0 0 20px 0; }
    @media screen and (max-width: 550px) {
      .details ul {
        width: 50%; } }
  @media screen and (max-width: 550px) {
    .details ul:nth-child(3), .details ul:nth-child(4) {
      display: none; } }

.brunch-specials, .about-title {
  min-height: 75px; }

.brunch-pictures {
  background: #d0e1f9; }
  .brunch-pictures ul li {
    float: left;
    width: 33.33%;
    list-style: none; }
    .brunch-pictures ul li img {
      width: 100%; }
    @media screen and (max-width: 550px) {
      .brunch-pictures ul li {
        width: 50%; } }
  @media screen and (max-width: 550px) {
    .brunch-pictures li:nth-child(3) {
      display: none; } }

.about-us .about-image {
  float: left;
  min-height: 150px;
  width: 50%; }
  .about-us .about-image img {
    width: 100%; }
  @media screen and (max-width: 550px) {
    .about-us .about-image {
      float: none;
      width: 100%; } }
.about-us .about-text {
  float: right;
  min-height: 150px;
  width: 50%; }
  @media screen and (max-width: 550px) {
    .about-us .about-text {
      float: none;
      width: 100%; } }

.navbar {
  overflow: auto;
  background: #144a62;
  color: #f0efea;
  height: 60px; }
  .navbar .logo {
    float: left; }
    .navbar .logo li {
      list-style: none; }
  .navbar .menu {
    float: right; }
    .navbar .menu li {
      float: left;
      list-style: none;
      margin: 0 10px; }

.clearfix, .intro-section::after, .details::after, .brunch-pictures ul::after, .about-us::after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: 'Josefin Slab', serif; }

.navbar .menu ul {
  font-size: 20px;
  margin-top: 20px; }
.navbar .logo {
  font-size: 30px;
  margin-top: 19px;
  margin-left: 15px; }

.sugarbean {
  font-size: 1.7em;
  color: #fff; }
  @media screen and (max-width: 550px) {
    .sugarbean {
      font-size: 1em; } }

.sub-heading {
  text-align: center;
  font-weight: bold;
  color: #f0efea; }

.details {
  text-align: center;
  color: #50312f;
  font-size: 20px; }

.brunch-specials, .about-title {
  text-align: center; }
  .brunch-specials p, .about-title p {
    margin-top: 0; }
  .brunch-specials h2, .about-title h2 {
    text-align: center;
    margin-bottom: 0; }

.about-title {
  background: #d0e1f9; }
  .about-title h2 {
    margin-top: 0;
    padding-top: 22px; }

footer {
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
