// Wireframes

*:not(body):not(html) {
  box-sizing: border-box;
  // border: 1px dashed grey;
}

.hero-image {
  .sugarbean {
    img {
      width: 100%;
      max-width: 407px;
      min-width: 370px;
    }
    // text-align: center;
    position: absolute;
    // left: 15%;
    // height: 100%;
    width: 37%;
    top: 30px;
    left: 30px;
    opacity: .5;
  }
  height: 600px;
  @include background-image(url("../img/hero-image.jpeg"));
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.sub-heading {
  min-height: 150px;
  background-color: $orange-red;
  margin: -20px;
  padding: 50px 10px 0 10px;
}

.gallery-image, .img-description {
  img {
    width: 100%;
    margin-top: -60px;
  }
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

// End Wireframes

.intro-section {
  .img-description {
    width: 30%;
    max-width: 400px;
    float: right;
    padding: 30px;
    @media screen and (max-width: $medium-breakpoint) {
      width: 100%;
      max-width: none;
    }
  }
  .gallery-image {
    width: 70%;
    min-width: 840px;
    float: left;
    @media screen and (max-width: $medium-breakpoint) {
      display: none;
    }
  }
  &::after {
    @extend .clearfix;
  }
}

.details {
  ul {
    width: 33%;
    float: left;
    margin: 0 0 20px 0;
    //min-height: 200px;
    @media screen and (max-width: $small-breakpoint) {
      width: 50%;
    }
  }
  &::after {
    @extend .clearfix;
  }
  ul:nth-child(3), ul:nth-child(4) {
    @media screen and (max-width: $small-breakpoint) {
      display: none;
    }
  }
  background-color: $latte;
}

.brunch-specials {
  min-height: 75px;
  background: $chiffon;
}

.brunch-pictures {
  background: $eggplant;
  ul {
    &::after {
      @extend .clearfix;
    }
    li {
      float: left;
      width: 33.33%;
      list-style: none;
      img {
        width: 100%;
      }
      @media screen and (max-width: $small-breakpoint) {
        width: 50%;
      }
    }
  }
  li:nth-child(3) {
    @media screen and (max-width: $small-breakpoint) {
      display: none;
    }
  }
}

.about-us {
  max-height: 540px;
  overflow: hidden;
  .about-image {
    float: left;
    width: 50%;
    img {
      width: 100%;
      max-width: 730px;
      margin: 0;
      padding: 0;
      //margin-bottom: -9px;
    }
    @media screen and (max-width: $small-breakpoint) {
      float: none;
      width: 100%;
    }
  }
  .about-text {
    padding: 30px;
    float: right;
    min-height: 150px;
    width: 50%;
    @media screen and (max-width: $small-breakpoint) {
      float: none;
      width: 100%;
    }
  }
  &::after {
    @extend .clearfix;
  }
}
