// Colors
$eggplant: #50312f;
$cinnamon: #662e1c;
$taupe: #7e675e;
$slate: #626d71;
$ceramic: #cdcdc0;
$latte: #ddbc95;
$coffee: #b38867;
$chiffon: #f0efea;
$periwinkle: #d0e1f9;
$blueberry: #4d648d;
$cerulean: #217ca3;
$orange-red: #e7472e;



// Media Query Variables
$small-breakpoint: 550px;

// Layout Variables

$outer-margin: 15px;
